.single-subject {
    border: 1px solid salmon;
    border-radius: 15px;
    height: 380px;
}

.single-subject img {
    margin-top: 10px;
    width: 300px;
    height: 200px;
    border-radius: 15px;
}

.btn-select {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #328e8e;
    color: white;
}

.btn-select:hover {
    background-color: coral;
}