.home-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 15px 5px;
}

.study-selection-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.study-activities-container {
    border: 1px solid salmon;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 5px;
}

.personal-info img {
    width: 35px;
}

.break-time {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn-time-break {
    padding: 3px 5px;
    border: 1px solid;
    border-radius: 3px;
}

.btn-time-break:hover {
    background-color: #328e8e;
    color: white;
    cursor: pointer;
}

.btn-activity-completed {
    padding: 10px 50px;
    border: 1px solid;
    border-radius: 5px;
}

.btn-activity-completed:hover {
    background-color: #328e8e;
    color: white;
    cursor: pointer;
}

/* responsive for mobile device */
@media screen and (max-width: 700px) {
    .home-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .study-selection-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .study-activities-container {
        margin-top: 10px;
    }
}